# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
.*

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
html-template/history/history.css
html-template/history/history.js
html-template/history/historyFrame.html
html-template/index.template.html
html-template/playerProductInstall.swf
html-template/swfobject.js
